{%extends 'base.html'%}
{% load static %}
{% load bootstrap4 %}
{% block styles %}
{{ block.super}}

{% endblock %}

{% block content %}
<div class="box" style="background-image: url();">
    <div class="text-center" style="padding: 5em; background-image: url(https://image.shutterstock.com/image-vector/trophy-cup-abstract-vector-3d-260nw-1369238744.jpg); background-repeat: no-repeat; background-size: cover; height: fit-content;">
    <h2 style="color: white;" class="text-center">Create a <span style="color: white;">profile</span> to start using <span style="color: white;">Awwards-254KE</span></h2>
    <hr>
    
        <h2 style="color: white;">Biodata section an image for your profile picture, <br> a short description of yourself <br> what you do (bio), <br> your location, email address and <br> a link to your portfolio.</h2>

      <div class="block-center" style="background-color: white; width: fit-content; padding: 1em; border-radius: 10px;">
        <form action="{%url 'create_profile'%}" style="background-color: transparent;" method="post" enctype="multipart/form-data">
            {%csrf_token%}    
            {% bootstrap_form form%}
            <input type="submit" class="btn btn-dark " value="Create Profile">
        </form>
      </div>
    </div>

</div>
{% endblock %}